<br>
<div class='panel panel-primary'>
    <div class='panel-heading '>
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Heroes Name</th>
                        <th>Check hero in full detail</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="getPeoples">
                        <tr *ngFor="let peeps of getPeoples.results">
                            <td>{{peeps.name}}</td>
                            <td><a [routerLink]="['/pc', peeps.url]">Check in Detail</a></td>
                            <br><br>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>